#ignore all except...
*

#included filenames
!.gitignore
!*.d
!README.md

#included directories
!het/
!het/test/
!het/hldc/
!imageformats/
!webp/
!turbojpeg/
!quantities/
!internal/
!dvulkan/
!examples/